h1 {
    font-family:cursive;
    font-size: 90px;
    color: black;
    margin-left: 3px;
}
    
h2 {
    font-family: fantasy;
    font-size: 50px;
    color: black;
    margin-left: 30px;
}


h3 {
    font-family: fantasy;
    font-size: 50px;
    color: white;
    margin-left: 30px;
}



